.bmr-calculator-orgnism-div-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.bmr-calculator-orgnism-div-wrapper h5{
    margin-bottom: 0;
}