.diet-questionnaire-form-div-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diet-questionnaire-form-div-wrapper form{
    width: 1200px;
    padding: 0 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diet-questionnaire-form-parts-div-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.diet-questionnaire-form-part1-div-wrapper{
    width: 510px;
    padding-right: 95px;
    display: flex;
    flex-direction: column;
}

.diet-questionnaire-form-part2-div-wrapper{
    width: 510px;
    padding-left: 95px;
    display: flex;
    flex-direction: column;
}

.diet-questionnaire-span {
    margin-bottom: 25px;
    color: #1e73d3;
    font-size: 24px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
}

.eating-input-div-wrapper{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.alergies-input-div-wrapper {
    display: flex;
    flex-direction: column;
}

.health-problems-input-div-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.textarea-input {
    box-sizing: border-box;
    height: 170px;
    width: 500px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #3a3a3a;
    padding: 10px 20px;
    font-size: 18px;
    color: black
}

.eating-input-div-wrapper .textarea-input {
    height: 250px;
}

.create-order-button {
    margin-top: 50px;
    display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 50px;
	background-color: #008efc;
	border-radius: 2px;
	font-size: 22px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	color: white;
	border: none;
	cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}