.bmi-informator-div-wrapper{
    margin-top: 55px;
    font-size: 20px;
    padding: 10px 220px;
}

.bmi-informator-border-text {
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.bmi-informator-text{
    margin: 0;
}

.bmi-informator-title{
    margin: 50px 0 15px 0;
    display: block;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    color: #008efc;
}