.calculators-home-p1-div-wrapper {
    padding: 0 50px 0 75px;
    width: 50%;
}

.calculators-image-02-div-wrapper {
    margin: 30px 0 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculators-image-02 {
    height: 200px;
}