.calculators-home-p2-div-wrapper {
    padding: 30px 50px 0 75px;
    width: 50%;
}

.calculators-image-01-div-wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculators-image-01 {
    height: 400px;
}