.user-setting-nav-div-wrapper {
    display: flex;
    flex-direction: column;
}

.user-setting-nav-div-wrapper ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
}