.user-profil-div-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 45px;
    display: flex;
    flex-direction: column; 
}

.edit-parameters-div-wrapper{
    position: absolute;
    z-index: 2;
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.user-main-parameters-div-wrapper{
    display: flex;
    flex-direction: row;
    width: 260px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-bottom: 1px solid #777777;
    border-radius: 6px;
}

.main-parameter-title-div-wrapper{
    color: #444444;
    font-size: 24px;
    font-weight: 900;  
    font-family: 'Work Sans', sans-serif;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-parameter-value-div-wrapper{
    color: #1e73d3;
    font-size: 30px;
    font-weight: 600;  
    font-family: 'Work Sans', sans-serif;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.age-parameters-div-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
}

.height-parameters-div-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weight-parameters-div-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-parameters-model-div-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.bmi-parameters-div-wrapper{
    margin-left: auto;
    margin-right: auto;
}

.add-parameters-div-wrapper {
    margin-top: 0px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.model-image {
    height: 500px;
}

.biceps-parameters-div-wrapper {
    width: 150px;
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.arms-parameters-div-wrapper{
    width: 150px;
    margin-top: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.calves-parameters-div-wrapper {
    width: 150px;
    margin-top: 70px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.chest-parameters-div-wrapper {
    width: 150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.belly-parameters-div-wrapper { 
    width: 150px;
    margin-top: 70px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.thighs-parameters-div-wrapper {
    width: 150px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parameter-title-div-wrapper{
    color: rgb(64, 64, 64);
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.parameter-value-div-wrapper{
    color: rgb(44, 44, 44);
    font-size: 22px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.bmi-parameters-div-wrapper{
    margin-top: 10px;
    width: 70px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $layout-border-color;
}

.bmi-title-div-wrapper{
    color: #444444;
    font-size: 24px;
    font-weight: 900;  
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bmi-value-div-wrapper{
    font-size: 30px;
    font-weight: 700;  
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}