.active-add-product-div-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-icon {
    width: 30px;
    height: 30px;
    color: #222222;
}