.check-product-informator-div-wrapper {
    font-size: 20px;
    padding: 10px 100px;
}

.check-product-informator-div-wrapper p{
    margin: 0;
}

.check-product-title-span{
    display: block;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    color: #008efc;
    margin: 40px 0 25px 0;
}