.search-div-wrapper {
    min-width: 50%;
    padding-left: 100px;
}

.search-title-span {
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #333333;
}

.search-bar-div-wrapper {
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 20px;
    height: 20px;
    color: #666666;
}

.search-bar-div-wrapper input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px;
    width: 100%;
    margin-left: 10px;
    &:focus{
        outline: none;
    }
}

.search-div-wrapper ul {
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    list-style-type: none;
    margin-top: 12px;
    padding: 0px 15px;
    max-height: 230px;
    overflow-y: scroll;
}

.search-div-wrapper li{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;  
    &:hover {
        background-color: #efefef;
    }
}