.layout-nav-div-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 470px;
}

.layout-nav-div-wrapper nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    margin-right: 75px;
}

.layout-nav-div-wrapper nav ul li {
    margin: 0 25px;
}

.layout-nav-link-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover{
        color: #333333;
        opacity: 0.8;
    }
}

.layout-nav-link-wrapper svg{
    font-size: 18px;
}