.diet-fluids-div-wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fluids-image {
    width: 320px;
}

.drinking-fluids-span {
    margin: 50px 0 25px 0;
    font-size: 26px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    color: #45ca9b;
}