.change-password-option-div-wrapper{
    padding: 20 0px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.change-password-button-wrapper{
    margin-right: 50px;
    display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 60px;
	background-color: #008efc;
	border-radius: 2px;
	font-size: 22px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	color: white;
	border: 1px solid #007fe0;
	cursor: pointer;
    transition: all 0.6s ease-in-out;
    &:hover{
        opacity: 0.8;
        background-color: black;
        border-color: black;
    }
}