.parameters-history-div-wrapper{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.show-history-button-wrapper{
    display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 40px;
	background-color: #f0f0f0;
	border: none;
	border-radius: 8px;
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	color: black;
	border: 2px solid rgb(175, 175, 175);
	cursor: pointer;
}