.login-form-links-div-wrapper{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
}

@media only screen and (max-width: 768px) {
    .login-form-links-div-wrapper{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
}

.login-form-links-div-wrapper label{
    margin-right: 10px;
}

.login-form-links-div-wrapper div{
    margin-top: 10px;
}

.login-form-link {
    color: $links-color;
    text-decoration: none;
}