.orderid-span {
    min-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-full-name-span {
    min-width: 275px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-price-span {
    min-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-payment-status-span {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-date-span {
    min-width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}