.logout-button-wrapper {
	margin-top: 5px;
    display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 25px;
	background-color: #f00000;
	border: none;
	border-radius: 4px;
	font-size: 13px;
	font-weight: 500;
	font-family: 'Work Sans', sans-serif;
	color: white;
	border: 1px solid #bf0000;
	cursor: pointer;
	opacity: 0.9;
	transition: all 0.5s ease-in-out;
	&:hover{
		opacity: 1;
	}
}