.layout-nav-div-wrapper nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px 0px 0px 150px;
    padding: 0px;
}

.layout-nav-div-wrapper nav ul li {
    margin-right: 50px;
}