.layout-nav-div-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 27vw;
}

.layout-nav-div-wrapper nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
}

.layout-nav-div-wrapper nav ul li {
    margin-right: 7vw;
    font-size: 18px;
}